.box-center{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-bottom: solid #1876D1;
}

.logo-bc{
    background-color: #AAAAAA;
}

.box-center img{
    border-radius:50%;    
    -webkit-transition: -webkit-transform .8s ease-in-out;
    -ms-transition: -ms-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}

.box-center img:hover{
    transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
}